<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="../public/js/js.js"></script>
		<script src="../public/js/design.js"></script>
		<title>CloudReader</title>
	</head>
	<body class="readBook">
	<div class="formBookmark">
		<div class="newFormLabel">Add Bookmark</div>
		<div class="bookmarkDiv">
			<form>
				<span class="label">Name</span>
				<input type="text" name="nameBookmark">				
				<span class="label">Description</span>
				<textarea></textarea>	
				<div class="pageNum">Page 43</div>
				<div class="buttonsRight">
					<input type="submit" class="btnAdd" value="Add">
					<div class="btnCancel" onclick="$('.formBookmark').removeClass('addBookmark');">Cancel</div>
				</div>
			</form>
		</div>
	</div>
	<div class="formBookInfo">
		<div class="newFormLabel">Book info</div>
		<div class="bookmarkDiv bookInfoDiv">
			<form>
				<div class="bookInfoList">
					<ul>
						<li><span class="bookInfoLabel">Title: </span><span class="bookInfoTitle">Alice in Wonderland</span></li>
						<li><span class="bookInfoLabel">Genre: </span><span class="bookInfoTitle">Novel</span></li>
						<li><span class="bookInfoLabel">Author: </span><span class="bookInfoTitle">Jerome</span></li>
						<li><span class="bookInfoLabel">Pages: </span><span class="bookInfoTitle">213</span></li>
						<li><span class="bookInfoLabel">Issue: </span><span class="bookInfoTitle">16 jun 1951</span></li>
					</ul>
				</div>
				<div class="bookInfoImg">
					<img src="../public/img/bookJon.jpg" alt="">
				</div>
				<div class="btnCenter" onclick="$('.formBookInfo').removeClass('showBookInfo');">OK</div>
			</form>
		</div>
	</div>
		
		<header class="header-min">
			<img class="logo" src="../public/img/arrow_reverse.png">
			
		</header>
		<aside>
			<ul>
				<a href="signup.html"><li class="signup"><img src="../public/img/person.png"><p>Login</p></li></a>
				<a href="shelf.html"><li class="shelf"><img src="../public/img/logo-min1_white.png"><p>Shelf</p></li></a>
				<a href="settings.html"><li class="design"><img src="../public/img/design_white.png"><p>Settings</p></li></a>
				<li class="nd"><img src="../public/img/nd_white.png"><p>Theme</p></li>
				<li class="fullscreen" onclick="fullscreen(document.documentElement);return false;"><img src="../public/img/full_white.png"><p>Fullscreen</p></li>
				<li class="info" onclick="showInfoBook();"><img src="../public/img/info_white.png"><p>Book info</p></li>
				<li class="plus" onclick="addBookmark();"><img src="../public/img/plus_white.png"><p>Add bookmark</p></li>
				<a href="statistics.html"><li class="statisticsMenu"><img src="../public/img/statistics_white.png"><p>Statistics</p></li></a>
				<li class="search"><img src="../public/img/search_white.png"><p>Search</p></li>
			</ul>
		</aside>
		<div class="signDiv" style="display: none;">
			<div class="login">
				<a href="/auth/dropbox">Dropbox</a>
			</div>
			<div class="SignUp">
				<a href="signup.html">SignUp</a>
			</div>
		</div>
		<div class="bookField">		
			Больше всего на свете я ненавижу обман и люблю честность и потому сразу честно признаюсь, что я вас (совсем немножко!) обманул: на самом деле это не НИКАКАЯ ГЛАВА, а НИКАКАЯ НЕ ГЛАВА – это просто-напросто… Думаете, так я вам и сказал? Нет, подождите. Вот дочитаете до конца, тогда узнаете! А не дочитаете – ну что ж, дело ваше. Только тогда – почти наверняка! – не сумеете правильно прочитать и всю книжку. Да, да!

Дело в том, что хотя перед вами – сказка, но сказка эта очень, очень не простая. Нет, подождите. Вот дочитаете до конца
Больше всего на свете я ненавижу обман и люблю честность и потому сразу честно признаюсь, что я вас (совсем немножко!) обманул: на самом деле это не НИКАКАЯ ГЛАВА, а НИКАКАЯ НЕ ГЛАВА – это просто-напросто… Думаете, так я вам и сказал? Нет, подождите. Вот дочитаете до конца, тогда узнаете! А не дочитаете – ну что ж, дело ваше. Только тогда – почти наверняка! – не сумеете правильно прочитать и всю книжку. Да, да!

Дело в том, что хотя перед вами – сказка, но сказка эта очень, очень не простая. Нет, подождите. Вот дочитаете до конца

		</div>
		<div class="statusBar" style="display:block;">		
			<div>
				<span>Алиса в Стране Чудес</span>
			
				<span>Льюис Кэрролл</span>
			
				<span>page 47 of 597</span>
			</div>
		</div>
	</body>
</html>