<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<title>Book Info</title>
	</head>
	<body style="background: url(templates/temp.png); font-family: Tahoma;">
		<!--<header>
			<img src="../public/img/logo.png" class="logo">
		</header>-->
		<div class="signUpLabel" style="padding-top: 100px;">
			Book Info
		</div>
		<div class="formDiv" style="width: 500px; height: 400px; box-shadow: none; color: #333; font-size: 11pt; line-height: 30px;">
			<ul style="list-style: none; width: 250px; display: inline-block; float: left;">
				<li><span style="font-weight: bold">Title:</span> "The Catcher in the Rye"</li>
				<li><span style="font-weight: bold">Genre:</span> Novel</li>
				<li><span style="font-weight: bold">Author:</span> Jerome David "J. D." Salinger</li>
				<li><span style="font-weight: bold">Pages:</span> 213</li>
				<li><span style="font-weight: bold">Issue:</span> 16 jun 1951</li>
			</ul>
			<div class="bookfoto" style="width: 200px; float: right;">
				<img src="templates/bookfoto.jpg" style="width: 200px; float: right">
			</div>
			<!--<div class="buttonok" style="width: 180px; height: 50px; background: #0074a2; color: #fff; text-align: center; line-height: 50px;">
				Back
			</div>
		</div>-->
	</body>
</html>