<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<title>Login</title>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../public/img/logo.png" class="logo signUpLogo"></a>
		</header>
		<div class="signUpLabel" style="">

		</div>
		<div class="tabs" style="width: 330px; height: 60px; background: #fff; margin: auto; text-align: center; line-height: 60px; font-family: Tahoma; color: #0074a2; font-size: 20pt; margin-top: 20px;">
				<a href="signup.html"><div class="tabLeft" style="float: left; width: 165px; background: #f1f1f1;">
					SignUp
				</div></a>
				<a href="login.html"><div class="tabRight" style="float: right; width: 165px; background: #fff;">
					Login
				</div></a>
		</div>
		<div class="formDiv">

			<form method="post" action="" name="registration" id="registrationForm">
				<span class="label">Userame</span>
				<input type="text" name="name">
				<span class="label">Password</span>
				<input type="password" name="pass">
				<input type="submit" value="Login" class="submitBtn">
				<!--<a href="/auth/dropbox">Dropbox</a>-->
				<div class="AuthorizationThroughSocialNetworks" style="text-align:center;height:60px;">
					<div class="SocialNetwork">
						<a href="/auth/vk"><img src="../public/img/vk.jpg" alt=""></a>
					</div>
					<div class="SocialNetwork">
						<a href="/auth/dropbox"><img src="../public/img/dr.png" alt=""></a>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>