<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<title>Book Info</title>
	</head>
	<body style="background: url(templates/temp.png); font-family: Tahoma;">
		<!--<header>
			<img src="../public/img/logo.png" class="logo">
		</header>-->
		<div class="signUpLabel" style="padding-top: 100px;">
			Login
		</div>
		<div class="formDiv" style="box-shadow: none;">
			<form method="post" action="" name="registration" id="registrationForm">
				<span class="label">Userame</span>
				<input type="text" name="name">				
				<span class="label">Password</span>
				<input type="password" name="pass">				
				<input type="submit" value="Apply" class="submitBtn" style="width: 130px;">
			</form>
		</div>
	</body>
</html>