<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<title>CloudReader</title>
	</head>
	<body style="padding-left: 50px; font-family: Tahoma;">
		<div style="font-family: Tahoma; font-size: 30pt; color: #555;">Settings</div>
		<ul style="list-style: none; font-size: 11pt; line-height: 80px;">
			<li>Font</li>
			<li>Size</li>
			<li>Color</li>
			<li>Background</li>
		</ul>
	</body>
</html>