<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="import" href="aside.html">
		<script src="../public/js/js.js"></script>
		<title>CloudReader | Shelf</title>
	</head>
	<body>
	<div class="formBookmark">
		<div class="newFormLabel">Add Bookmark</div>
		<div class="bookmarkDiv">
			<form>
				<span class="label">Name</span>
				<input type="text" name="nameBookmark">				
				<span class="label">Description</span>
				<textarea></textarea>	
				<div class="buttonsRight">
					<input type="submit" class="btnAdd" value="Add">
					<div class="btnCancel" onclick="$('.formBookmark').removeClass('addBookmark');">Cancel</div>
				</div>
			</form>
		</div>
	</div>
	<div class="formBookInfo">
		<div class="newFormLabel">Book info</div>
		<div class="bookmarkDiv bookInfoDiv">
			<form>
				<div class="bookInfoList">
					<ul>
						<li><span class="bookInfoLabel">Title: </span><span class="bookInfoTitle">Alice in Wonderland</span></li>
						<li><span class="bookInfoLabel">Genre: </span><span class="bookInfoTitle">Novel</span></li>
						<li><span class="bookInfoLabel">Author: </span><span class="bookInfoTitle">Jerome</span></li>
						<li><span class="bookInfoLabel">Pages: </span><span class="bookInfoTitle">213</span></li>
						<li><span class="bookInfoLabel">Issue: </span><span class="bookInfoTitle">16 jun 1951</span></li>
					</ul>
				</div>
				<div class="bookInfoImg">
					<img src="../public/img/bookJon.jpg">
				</div>
				<div class="btnCenter" onclick="$('.formBookInfo').removeClass('showBookInfo');">OK</div>
			</form>
		</div>
	</div>
		
		
		<header class="header-min">
			<img class="logo" src="../public/img/arrow_reverse.png">
			
		</header>
		<aside>
			<ul>
				<a href="shelf.html"><li class="shelf active"><img src="../public/img/logo-min1_white.png"><p>Shelf</p></li></a>
				<a href="settings.html"><li class="design"><img src="../public/img/design_white.png"><p>Settings</p></li></a>
				<!--<li class="nd"><img src="../public/img/nd_white.png"><p>Theme</p></li>-->
				<li class="fullscreen" onclick="fullscreen(document.documentElement);return false;"><img src="../public/img/full_white.png"><p>Fullscreen</p></li>
				<!--<li class="info" onclick="showInfoBook();"><img src="../public/img/info_white.png"><p>Book info</p></li>-->
				<!--<li class="plus" onclick="addBookmark();"><img src="../public/img/plus_white.png"><p>Add bookmark</p></li>-->
				<a href="statistics.html"><li class="statisticsMenu"><img src="../public/img/statistics_white.png"><p>Statistics</p></li></a>
				<!--<li class="search"><img src="../public/img/search_white.png"><p>Search</p></li>-->
			</ul>
		</aside>
		<div class="content shelf">
			<a href="index.html">
				<div class="backToReading">
					Back to reading 
				</div>
			</a>
			<div class="pageTitle">
				My shelf
			</div>
			
				
				
						<div class="book">
							<a href="index.html">
								<div class="bookImg">
									<center><img src="../public/img/bookRye.jpg"></center>
								</div>
							</a>
							<div class="btnInfo" onclick="showInfoBook();">
								info
							</div>
						</div>
					

						<div class="book">
							<a href="index.html">
								<div class="bookImg">
									<center><img src="../public/img/bookJon.jpg"></center>
								</div>
							</a>
							<div class="btnInfo" onclick="showInfoBook();">
								info
							</div>
						</div>


						<div class="book">
							<a href="index.html">
								<div class="bookImg">
									<center><img src="../public/img/bookLord.jpg"></center>
								</div>
							</a>
							<div class="btnInfo" onclick="showInfoBook();">
								info
							</div>
						</div>


						<div class="book">
							<a href="index.html">
								<div class="bookImg">
									<img src="../public/img/bookHiba.jpg">
								</div>
							</a>
							<div class="btnInfo" onclick="showInfoBook();">
								info
							</div>
						</div>

				
				
					
						<div class="book">
							<a href="index.html">
								<div class="bookImg">
									<img src="../public/img/bookAlice.jpg">
								</div>
							</a>
							<div class="btnInfo" onclick="showInfoBook();">
								info
							</div>
						</div>
					
				
			
		</div>
	</body>
<html>