<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<title>SignUp</title>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../public/img/logo.png" class="logo signUpLogo"></a>
		</header>
		<div class="signUpLabel" style="">

		</div>
		<div class="tabs" style="width: 330px; height: 60px; background: #fff; margin: auto; text-align: center; line-height: 60px; font-family: Tahoma; color: #0074a2; font-size: 20pt; margin-top: 20px;">
				<a href="signup.html"><div class="tabLeft" style="float: left; width: 165px;">
					SignUp
				</div></a>
					<a href="/login"><div class="tabRight" style="float: right; width: 165px; background: #f1f1f1;">
					Login
				</div></a>
		</div>
		<div class="formDiv">

			<form method="post" action="" name="registration" id="registrationForm">
				<span class="label">Userame</span>
				<input type="text" name="name">
				<span class="label">Email Address</span>
				<input type="text" name="email">
				<span class="label">Password</span>
				<input type="password" name="pass">
				<span class="label">Confirm your password</span>
				<input type="password" name="pass2">
				<input type="submit" value="Create an account" class="submitBtn">
			</form>
		</div>
	</body>
</html>