<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../view/stylesheets/style.css" type="text/css">
		<title>SignUp</title>
	</head>
	<body>
		<header>
			<img src="../public/img/logo.png" class="logo">
		</header>
		<div class="signUpLabel">
			SignUp
		</div>
		<div class="formDiv">
			<form method="post" action="" name="registration" id="registrationForm">
				<span class="label">Userame</span>
				<input type="text" name="name">				
				<span class="label">Email Address</span>
				<input type="text" name="email">				
				<span class="label">Password</span>
				<input type="password" name="pass">				
				<span class="label">Confirm your password</span>
				<input type="password" name="pass2">				
				<input type="submit" value="Create an account" class="submitBtn">
			</form>
		</div>
	</body>
</html>