<!DOCTYPE html PUBLIC>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="../public/js/js.js"></script>
		<title>CloudReader | Statistics</title>
	</head>
	<body>
		<header class="header-min">
			<img class="logo" src="../public/img/arrow_reverse.png">			
		</header>
		<aside>
			<ul>
				<a href="shelf.html"><li class="shelf"><img src="../public/img/logo-min1_white.png"><p>Shelf</p></li></a>
				<a href="settings.html"><li class="design"><img src="../public/img/design_white.png"><p>Settings</p></li></a>
				<li class="nd"><img src="../public/img/nd_white.png"><p>Theme</p></li>
				<li class="fullscreen" onclick="fullscreen(document.documentElement);return false;"><img src="../public/img/full_white.png"><p>Fullscreen</p></li>
				<!--<li class="info" onclick="showInfoBook();"><img src="../public/img/info_white.png"><p>Book info</p></li>-->
				<!--<li class="plus" onclick="addBookmark();"><img src="../public/img/plus_white.png"><p>Add bookmark</p></li>-->
				<a href="statistics.html"><li class="statisticsMenu active"><img src="../public/img/statistics_white.png"><p>Statistics</p></li></a>
				<!--<li class="search"><img src="../public/img/search_white.png"><p>Search</p></li>-->
			</ul>
		</aside>
		<div class="content statistics">
			<a href="index.html">
				<div class="backToReading">
					Back to reading 
				</div>
			</a>
			<div class="pageTitle">
				Statistics
			</div>
			<div class="block">
				<div class="task">Diagram 1.1</div>
				<div class="subtask"><img src="../public/img/diagram.png" alt=""></div>
			</div>
			<div class="block">
				<div class="task">The number of books read</div>
				<div class="subtask">37</div>
			</div>
			<div class="block">
				<div class="task">Velocity</div>
				<div class="subtask">1 book/week</div>
			</div>
			<div class="block">
				<div class="task">Books in progress</div>
				<div class="subtask">Alice in Wonderland</div>
				<div class="subtask">Die Verwandlung</div>
				<div class="subtask">Vignt mille lieues sous les mers</div>
			</div>
			<div class="block">
				<div class="task">Finished books</div>
				<div class="subtask">Narnia</div>
			</div>
		</div>
	</body>