			* {
				margin: 0;
				padding: 0;
				border:0;
				font-size:100%;
				font:inherit;
				vertical-align:baseline;
				outline:none;
				text-decoration: none;
			}

			.table{display:table;}
			.tr{display:table-row;}
			.td{display:table-cell;vertical-align:middle;}
			.top{vertical-align:top;}

			::-webkit-scrollbar-track{-webkit-box-shadow: background-color: transparent;}
			::-webkit-scrollbar{width: 8px;height: 10px;background-color: transparent;}
			::-webkit-scrollbar-thumb{background-color:#bbb; }
			::-webkit-scrollbar-thumb:hover {background-color:#777;}
			::-webkit-scrollbar-thumb:active {background-color:rgba(0,116,162, 1);}


			*::selection {
				background:  #f1f1f1;
				color: #f00;
			}

			*::-moz-selection {
				background:  #CAFCE2;
				color: #111;
			}

			:-webkit-full-screen aside .fullscreen {/*WebKit, Opera 15+*/
			  display: none;
			}
			:-moz-full-screen  aside .fullscreen {/*FireFox*/
			  display: none;
			}
			:full-screen aside .fullscreen  {/*Opera 12.15-, Blink, w3c standard*/
			  display: none;
			}

			body {
				background: #f9f9f9;
				min-width: 960px;
			}

			header {
				width: 100%;
				z-index: 2;

				position: fixed;
			}

			header .logo {
				height: 50px;
				margin-left: 30px;
			}

			header .logo {
				cursor: pointer;
			}

			.header-min {
				height: 25px;
				background: transparent;
				padding-top: 20px;
			}

			.header-min .logo {
				height: 30px;
				opacity: 0.8;
			}

			.header-min .logo:hover {
				opacity: 1;
			}

												/*		SignUp 		*/

			.signUpLogo {
				padding-left: 50px;
			}

			.signUpLabel {
				width: 280px;
				margin: auto;
				padding-top: 80px;
				font-size: 40px;
				font-family: Tahoma;
				color: #0074a2;
				text-align: center;
			}

			.formDiv {
				width: 280px;
				padding: 25px;
				background: #fff;
				margin: auto;
				margin-top: 0px;
				border: solid #eee 1px;
				border-top: none;
			}

			.tabs a {
				color: #0074a2;;
			}

			.SocialNetwork {
				width: 35px;
				height: 35px;
				display: inline-block;
				margin-top: 25px;
			}

			.SocialNetwork img {
				width: 35px;
				height: 35px;
			}

			form .label, input {
				display: block;
			}

			form .label {
				color: #777;
				font-family: Tahoma;
				font-size: 11pt;
				line-height: 20pt;
			}

			form input {
				width: 100%;
				height: 45px;
				border: solid #ddd 1px;
				background: #fbfbfb;
				margin-bottom: 15px;
				padding-left: 10px;
				font-family: Tahoma;
				font-size: 18pt;
				color: #555;
			}

			form textarea {
				width: 100%;
				height: 80px;
				border: solid #ddd 1px;
				background: #fbfbfb;
				margin-bottom: 15px;
				padding-left: 10px;
				font-family: Tahoma;
				font-size: 14pt;
				color: #555;
				resize: none;
			}

			form .buttonsRight {
				padding-top: 20px;
				width: 320px;
				float: right;
				height: 45px;
			}

			form .btnAdd {
				width: 150px;
				float: left;
				background: #0074a2;
				border: none;
				font-family: Tahoma;
				color: #fff;
				line-height: 45px;
				font-size: 12pt;
				text-align: center;
				padding: 0;
			}

			form .btnCenter {
				font-family: Tahoma;
				width: 150px;
				background: #0074a2;
				border: none;
				color: #fff;
				line-height: 45px;
				font-size: 12pt;
				text-align: center;
				padding: 0;
				margin: auto;
				float: right;
				margin-top: 180px;
			}

			form .btnAdd:hover {
				cursor: pointer;
				background: #509fbe;
			}

			form .btnCenter:hover {
				cursor: pointer;
				background: #509fbe;
			}

			form .btnCancel {
				width: 150px;
				float: right;
				background: #ff7f7f;
				font-family: Tahoma;
				border: none;
				color: #fff;
				line-height: 45px;
				font-size: 12pt;
				text-align: center;
				padding: 0;
			}

			form .btnCancel:hover {
				cursor: pointer;
				background: #ffa4a4;
			}

			#registrationForm .submitBtn {
				background: #0074a2;
				color: #fff;
				margin-bottom: 0;
				margin-top: 25px;
				font-size: 12pt;
				padding-left: 0;
			}

			#registrationForm .submitBtn:hover {
				cursor: pointer;
				background: #509fbe;
			}
												/*		SignUp end 		*/

												/*		Index 			*/
			aside {
				visibility: hidden;
				background: #0074a2;
				z-index: 1;
				width: 200px;
				float: left;
				height: 100%;
				position: fixed;
				text-align: left;
				padding-top: 75px;
			}
			.asideVisible {
				visibility: visible;
			}

			aside ul {
				list-style: none;
			}

			aside ul li {
				height: 50px;
				padding-left: 30px;
			}

			aside ul li img {
				height: 25px;
				float: left;
				margin-top: 12px;
			}
			aside ul li p {
				line-height: 50px;
				color: #fff;
				font-family: Tahoma;
				font-size: 11pt;
				padding-left: 60px;
			}
			aside ul li:hover {
				cursor: pointer;
				background: #4ea9cd;
			}
			.formBookmark {
				display: none;
			}

			.bookInfoDiv {
				height: 280px;
			}

			.bookInfoDiv ul li {
				margin-bottom: 5px;
				font-size: 13pt;
			}

			.formBookInfo {
				display: none;
			}

			.bookInfoLabel {
				font-family: Tahoma;
				color: #333;
			}

			.bookInfoTitle {
				font-family: Tahoma;
				color: #777;
			}



			.formBookmark .pageNum {
				float: left;
				margin-top: 30px;
				color: #555;
				font-family: Tahoma;
				font-size: 13pt;
			}

			.showBookInfo {
				display: block;
				position: fixed;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.9);
				z-index: 3;
			}

			.showBookInfo ul {
				list-style: none;
			}

			.bookInfoList {
				float: left;

			}

			.bookInfoImg {
				width: 180px;
				height: 284px;
				max-height: 284px;
				float: right;
				overflow: hidden;
			}

			.bookInfoImg img {
				width: 100%;
			}

			.addBookmark {
				display: block;
				position: fixed;
								width: 100%;
				height: 100%;

				background: rgba(0, 0, 0, 0.9);
				z-index: 3;
			}
			.newFormLabel {
				width: 500px;
				margin: auto;
				font-family: Tahoma;
				font-size: 30pt;
				color: #0074a2;
				text-align: center;
				margin-top: 100px;
			}
			.bookmarkDiv {
				padding: 30px;
				width: 500px;
				margin: auto;
				background: #fff;
				margin-top: 10px;
				padding-bottom: 100px;
			}

			.signDiv {
				position: fixed;
				top: 30px;
				right: 30px;
				width: 80px;
				color: #0074a2;
				text-align: center;
				font-family: Tahoma;
				padding: 20px;

			}

			.signDiv div a {
				text-decoration: none;
				color: #0074a2;
			}

			.signDiv div:hover a {
				text-decoration: underline;
				cursor: pointer;
			}

			.signDiv div:first-child {
				margin-bottom: 10px;
			}

			.content {
				width: 780px;
				margin: auto;
				height: auto;
				padding: 50px 0;
				font-family: Courier;
				font-size: 15pt;
				line-height: 22pt;
				color: #333;
				text-align: justify;
				overflow: hidden;
			}

			#bookField {
				width: 780px;
				margin: auto;
				height: auto;
				padding: 50px 0;
				font-family: Courier;
				font-size: 15pt;
				line-height: 22pt;
				color: #333;
				text-align: justify;
				overflow: hidden;
			}

			#bookField section p {
				 text-indent: 30px;
				 display: block;
			}

			.statusBar {
				position: fixed;
				bottom: 0;

				width: 100%;
				height: 25px;
				background: #f1f1f1;
				color: #333;
				font-family: Tahoma;
				font-size: 8pt;
				min-width: 960px;
			}

			.statusBar div {
				width: 500px;
				height: 25px;
				line-height: 25px;
				margin: auto;
				text-align: center;
			}

			.statusBar div span {
				padding: 0 30px;
			}

			.night {
				background: #1e1e1e;
				color: #bbb;
			}




			.shelf {
				font-family: Tahoma;
				color: #555;
			}

			.pageTitle {
				font-size: 25pt;
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.shelf .book {
				width: 180px;
				height: 329px;
				overflow: hidden;
				float: left;
				margin-left: 20px;
				margin-bottom: 30px;
			}

			.shelf .book:nth-child(4n+3) {
				margin-left: 0;
			}

			.shelf .book .bookImg {
				height: 284px;
				max-height: 284px;
				min-height: 284px;
				width: auto;
				overflow: hidden;
				-webkit-filter: brightness(75%);
			}
			.shelf .book .bookImg:hover {
				cursor: pointer;
				-webkit-filter: brightness(100%);
			}

			.shelf .book img {
				height: 284px;
				max-height: 284px;
				min-height: 284px;
				width: 100%;
			}

			.shelf .btnInfo {
				width: 100%;
				height: 45px;
				background: #0074a2;
				font-family: Tahoma;
				color: #fff;
				line-height: 45px;
				font-size: 12pt;
				text-align: center;
			}

			.shelf .btnInfo:hover {
				cursor: pointer;
				background: #509fbe;
			}

			.active {
				background: #4ea9cd;
			}

			.backToReading {
				-webkit-animation: myfirst 1.5s; /* Chrome, Safari, Opera */
				animation: myfirst 1s;
				-webkit-animation-iteration-count: infinite;
			}

			.backToReading:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			/* Chrome, Safari, Opera */
			@-webkit-keyframes myfirst {
				0% { color: red;}
				50% {color: #ffcd8c;}
				100% {color: red;}

			/* Standard syntax */
				0% { color: red;}
				50% {color: #ffcd8c;}
				100% {color: red;}
			}



			/*   Settings     */
			.settings {
				font-family: Tahoma;
				color: #555;
			}

			.settings form {
				float: left;
			}

			.settings select {
				width: 250px;
				height: 40px;
				color: #999;
				font-size: 13pt;
				padding-left: 10px;
				background: transparent;
				-webkit-appearance: none;
				-moz-appearance: none;
			}

			.settings .select {
				border: 1px solid #ddd;
			    overflow: hidden;
			   	width: 250px;
			   	height: 40px;
			   	background: #fbfbfb url(../img/select.png) no-repeat;
			   	background-position: right;
			   	margin-bottom: 10px;
			}

			.settings input {
				width: 250px;
				color: #999;
				font-size: 13pt;
				background: #fbfbfb;
			}

			.settings .applyok {
				width: 120px;
				height: 45px;
				background: url(../img/galka.png) no-repeat;
				margin-top: 30px;
			}

			.settings .apply {
				width: 120px;
				height: 45px;
				background: #0074a2;
				color: #fff;
				text-align: center;
				padding-left: 0;
				font-size: 12pt;
				border: none;
			}

			.settings .apply:hover {
				background: #509fbe;
				cursor: pointer;
			}

			.settings .apply:active {
				background: transparent;
				color: transparent;
			}

			.rightSide {
				float: right;
			}

			.settings .rightSide .example {
				width: 320px;
				height: 320px;
				background: #f5f5f5;
				overflow: hidden;
				padding: 10px;
				font-family: Courier New;
				font-size: 15pt;
			}

			.settings .rightSide .exampleTitle {
				color: #777;
				line-height: 30pt;
			}

			/*    Statistics     */
			.statistics {
				font-family: Tahoma;
				color: #555;
			}

			.statistics .task {
				font-size: 14pt;
				margin-bottom: 10px;
			}

			.statistics .subtask {
				color: #999;
				font-size: 12pt;
			}

			.statistics img {
				width: 500px;
			}

			.statistics .block {
				border-bottom: solid #ddd 1px;
				padding: 20px 0;

			}

			@media (max-width:1200px){
				.content {
					width: 460px;
				}

				.shelf .book {
					margin-left: 100px;
				}

				.shelf .book:nth-child(3n+2) {
					margin-left: 0;
				}

				.statistics .block img {
					width: 400px;
				}

			@media (max-width:960px){
				.content {
					width: 400px;
				}

				.shelf .book {
					margin-left: 40px;
				}
			}

			 @media only screen and (max-device-width:480px){
			   /* styles for mobile browsers smaller than 480px; (iPhone) */
			   aside {
			   		width: 420px;
			   }

			   aside ul {
			   		margin-top: 30px;
			   }

			   aside ul li {
					height: 150px;
			   }

			   aside ul li img {
			   		height: 80px;
			   		margin-top: 35px;
			   }

			   aside ul li p {
					padding-left: 150px;
					font-size: 25pt;
					line-height: 150px;
			   }

			   .header-min .logo {
					height: 80px;
					opacity: 0.8;
				}

				.content {
					width: 85%;
					padding-top: 120px;
					font-size: 18pt;
					line-height: 45pt;
				}

			}

			@media only screen and (device-width:768px){
			   /* default iPad screens */
			}

			li table {
				width: 100%;
			}

